<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid ui-01 no-padding">
    <div class="nav navbar-nav navbar-right ca-align-middle">
      <a class="notification-icon">
        <i class="fa fa-envelope fa-1" aria-hidden="true"></i>
        <span class="badge ca-badge-notify chart-02">1</span>
      </a>
      <a>
        <i class="fa fa-question-circle fa-1" aria-hidden="true"></i>
      </a>
      <label class="divider-icon"></label>
      <i class="fa fa-user fa-1" aria-hidden="true"></i>
      <div class="userlogin">
        <div class="userlogin-text">
          <span *ngIf="username == 'pixogram'">Sudheer J</span>
        </div>
        <div><a class="logout-text" routerLink="/login">Logout</a></div>
      </div>
    </div>
  </div>
  <div class="header-section">
    <div class="header-section-top">
      <div class="logo" routerLink="/Dashboard">
        <img src="../../../../assets/images/pixogram_logo.png" class="logo-pixogram" alt="logo-pixogram" />
      </div>
      <div class="media-section">
        <button class= "btn-upload-media btn-header" routerLink="/singleuploadmedia">Upload media</button>
        <button class= "btn-my-media btn-header" routerLink="/mediapage">My media</button>
        <button class= "btn-followers btn-header" routerLink="/portfoliotree">Followers / Following</button>
      </div>
      <div class="profile">
          <button class= "btn-account btn-header" routerLink="/ledexpert">Account</button>
      </div>
    </div>
    <div class="header-section-bottom">
      <img src="../../../../assets/images/victory.jpg" class="profile-image" alt="profile-image">
      <span class="user-welcome">Welcome, {{username}}</span>
    </div>
  </div>
</nav>
