<app-header
  [uploadmedias] = "uploadmedias">
</app-header>
<div class="wrapper wrapper-with-leftnav">
        <app-leftnav
        [uploadmedias] = "uploadmedias"
        [linkactive] = "linkactive">
      </app-leftnav>
      <div class="row">
        <div class="col-md-12">
          <app-upload-media-file 
            projectId="100" 
            sectionId="107" 
            maxFiles="4"
            maxSize="2"
            fileExt="JPG, GIF, PNG"
            >
          </app-upload-media-file>
        </div>
      </div>