.drag-drop-section {
  border: solid grey 1px;
  height: 10rem;
}
.media-wrapper {
  display: inline-flex;
}
.left-section {
  display: flex;
}
.form-labels {
  margin-right: 5rem;
}
.right-section {
  border: 0.1rem solid grey;
  width: 20rem;
  margin-left: 5rem;
}
.media-input {
  width: 10rem;
  margin-left: 2rem;
}
.dragdrop-text {
  text-align: center;
}
.btn-form-submit {
  margin: 0 auto;;
}
