.form-container{
    max-width: 444px;
    padding: 25px; margin-top:50px !important;
    margin: 0 auto; 
    border:solid 1px #CBCBCB; 
    border-radius:5px;
}
.form-signin {
    max-width: 330px;
    padding: 0px 25px 0px 25px;
    margin: 0 auto;
}
.form-signin .form-signin-heading{
    margin-bottom: 25px;
    size:18px !important;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 5px;
    font-size: 12px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
