<div class="container-fluid">
  <div class="form-container">
    <form class="form-signin">
      <h4 class="form-signin-heading">Login</h4>
      <input type="text" class="form-control" name="username" placeholder="User Name" [(ngModel)]="username" required autofocus>
      <br>
      <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="password" required>
      <span class="error-text" *ngIf="showLoginError">
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
        Enter valid details
      </span>
      <br><br>

      <button class="btn btn-primary" (click)="btnClick();" type="submit">Login</button> 
    </form>
  </div>
</div>