.imagelist {
  display: inline-block;
  height: 50px;
  width: 100px;
}
/* tabs start */
.tab-navigation {
  padding: 0;
  padding-left: 30px;
  border-bottom: solid 1px #ddd;
}
  li {
    display: inline-block;
    margin-bottom: -1px;
  }
    a {
      display: inline-block;
      border: solid 1px #ddd;
      padding: 10px;
      border-radius: 10px 10px 0 0;
    }
  .active {
    a {
      border-bottom-color: #fff;
    }
  }
.tab-content {
  display: none;
}


  &.active {
    display: block;
  }

    /* tabs end */
